[submodule "dot.vim/bundle/nerdcommenter"]
	path = dot.vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
	ignore = untracked
[submodule "dot.vim/bundle/nerdtree"]
	path = dot.vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "dot.vim/bundle/vim-zencoding"]
	path = dot.vim/bundle/vim-zencoding
	url = git://github.com/mattn/zencoding-vim.git
	ignore = untracked
[submodule "dot.vim/bundle/vim-speeddating"]
	path = dot.vim/bundle/vim-speeddating
	url = git://github.com/tpope/vim-speeddating.git
	ignore = untracked
[submodule "dot.vim/bundle/vim-surround"]
	path = dot.vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "dot.vim/bundle/vim-repeat"]
	path = dot.vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
	ignore = untracked
[submodule "dot.vim/bundle/vim-fugitive"]
	path = dot.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "dot.vim/bundle/command-t"]
	path = dot.vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
	ignore = untracked
[submodule "dot.vim/bundle/snipmate"]
	path = dot.vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim
	ignore = untracked
[submodule "dot.vim/snippets"]
	path = dot.vim/snippets
	url = git@github.com:mv/snipmate-snippets.git
	ignore = untracked
[submodule "dot.vim/bundle/vim-easymotion"]
	path = dot.vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
	ignore = untracked

