## # Lines starting with '#' are considered comments.
## # Ignore any file named foo.txt.
## foo.txt
## # Ignore (generated) html files,
## *.html
## # except foo.html which is maintained by hand.
## !foo.html
## # Ignore objects and archives.
## *.[oa]

.svn
.CVS
.hg
.hgtags
.DS_Store
.netrwhist
.VimballRecord
dot.vim/doc/tags
dot.vim/GetLatest/*vim
dot.vim/GetLatest/*vba
dot.vim/sessions/*
dot.vim/snippets

tags
tags-ja

*.[oa]
*.log
*.tmp
*.pid
*.swp

*tar
*gz
*bz
*bz2
*zip
*arj
*a[0-9][0-9]

*~

# file links at ~/bin/
mate
mvim
vi
view
vim

